<%= link_to "Sample Game (development)", game_path(Game.first) %>

<% current_user = User.first %>

<%= button_to "Start a New Game", games_path, class: "btn btn-success" %>

<h1>Join A Game</h1>

<% @games.each do |game| %>
  <% user= User.find(game.white_player_id) %>
  <%= user.screen_name %>
  <%= form_for game do |f| %>
    <%= f.hidden_field :black_player_id, value: current_user.id %>
    <%= f.submit "Join Game" %>
  <% end %>

<% end %>
