<!DOCTYPE html>
<html>
  <head>
    <title>Pawnstars</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" </a>
      <%= link_to 'Chess App', root_path, class: 'navbar-brand' %>
      <% if user_signed_in? %>
        <div class="welcome">Welcome <%= current_user.screen_name %></div>
      <% end %>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        </ul>
        
  
      <ul class="nav navbar-nav float-lg-right">
        <li class="nav-item">
          <a class="nav-link" </a>
       <% if user_signed_in? %>
          <li><%= link_to "Sign Out #{current_user.email}", destroy_user_session_path, method: :delete %></li>

          <% else %>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>  
      </ul>
      </div><!-- /.navbar-collapse -->
    </nav>



      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

    <%= yield %>
  </body>

</html>
